.about
    .about__wrap
        .about__container
            .background#particles-js
                //- canvas(class="particles-js-canvas-el" width="1349" height="632" style="width: 100%; height: 100%;")
            include ../header/nav.pug
            .about__content
                //- .background#particles-js
                .about__text
                .about__animation
                    .about__animation-item
                    .about__animation-item