.header__btn-reset{
    display: flex;
    align-items: center;
    justify-content: center;
	margin:auto;
	text-align:center;
    width: 8rem;
	height:5rem;
	background:orange;
	border:0;
	cursor:pointer;

	border-radius:3rem;
	font-family : monospace;
	font-size:2rem;
}