// !!! HEADER FONTS !!! //

.logo-link-font{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 3rem;
    color: rgb(255, 66, 0);
    text-shadow: 0.15rem 0.15rem 0.15rem #08fdd8;
}

.nav-menu-fonts{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.2rem;
    color: #0de5c2;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
    padding: 1.3rem 0rem;
}

.nav-menu-fonts:hover{
    // color: #00fad4;
    color: rgb(0, 255, 255);
    font-size: 1.5rem;
    transition: 0.3s;
}

.header__intro-code-text{
    font-family: 'Indie Flower', cursive;
    font-size: 2.5rem;
    font-weight: 600;
    color: #181818;
}

// !!! BUTTON FONTS !!! //

.header__btn-fonts{
    border-radius:0.8rem;
    font-family: 'Nanum Pen Script', cursive, sans-serif;
    text-transform: uppercase;
	font-size:2rem;
}