// !!! HEADER FONTS !!! //

.logo-link-font{
    font-family: 'Nanum Pen Script', cursive, sans-serif;
    font-size: 5rem;
    color: rgb(255, 66, 0);
    text-shadow: 0.15rem 0.15rem 0.15rem #08fdd8;
}

.nav-menu-fonts{
    font-family: 'ZCOOL KuaiLe', cursive, sans-serif;
    font-size: 0rem;
    color: #08fdd8;
    text-transform: uppercase;
}

.nav-menu-fonts:hover{
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
}

span{
    font-size: 3rem;
    color: red;
}

code{
    font-size: 3rem;
    color: green;
}