html{
    font-size: 10px;
}

.body{
<<<<<<< HEAD
    font-family: 'Nanum Pen Script', cursive, sans-serif;
    font-family: 'Covered By Your Grace', cursive, sans-serif;
    font-family: 'ZCOOL KuaiLe', cursive, sans-serif;
    font-family: 'Source Code Pro', monospace, sans-serif;
=======
>>>>>>> bf90a7ec824ae3f44bda07d3017ac439d6106df0
    font-size: 1.6rem;
}

*{
    box-sizing: border-box;
}

.body__wrap{
    margin: 0 auto;
    max-width: 192rem;
<<<<<<< HEAD
}

a, ul, li{
    text-decoration: none;
    list-style: none;
=======
>>>>>>> bf90a7ec824ae3f44bda07d3017ac439d6106df0
}