<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio
        link(rel="stylesheet", href="./css/main.css")
<<<<<<< HEAD
        link(href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Nanum+Pen+Script|Source+Code+Pro:200,300,400,500,600,700,900|ZCOOL+KuaiLe&amp;subset=chinese-simplified,korean,latin-ext" rel="stylesheet")
=======
>>>>>>> bf90a7ec824ae3f44bda07d3017ac439d6106df0
    body.body
        .body__wrap
            include ../blocks/header/header.pug
            include ../blocks/contact/contact.pug
        script(src="./js/main.js")