<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Portfolio
        link(rel="stylesheet", href="./css/main.css")
        link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Nanum+Pen+Script|Source+Code+Pro:200,300,400,500,600,700,900|ZCOOL+KuaiLe&amp;subset=chinese-simplified,korean,latin-ext" rel="stylesheet")
    body.body
        .body__wrap
            include ../blocks/header/header.pug
            include ../blocks/contact/contact.pug
        //- canvas.background
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-compat/3.0.0-alpha1/jquery.min.js" defer)
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" defer)
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js")
        //- script(src="./plugins/particles.min.js")

        //- script(src="js/main.js")
        script(src="js/jquery-3.3.1.min.js")
        script(src="js/particles.js")
        script(src="js/app.js")