header.header
    .header__wrap
        .header__container
            nav.header__nav
                .header__nav-wrap
                    .header__nav-content
                        .header__nav-logo
                            a.header__nav-logo-link.logo-link-font(href="index.html")|iOld
                        .header__nav-menu
                            ul.header__nav-menu-ul
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")|home
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")|about
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")|skils
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")|my work
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")|contact
                        .header__nav-social
                            ul.header__nav-social-ul
                                li.header__nav-social-li
                                    a.header__nav-social-link(href="#")
                                li.header__nav-social-li
                                    a.header__nav-social-link(href="#")
                                li.header__nav-social-li
                                    a.header__nav-social-link(href="#")
                                li.header__nav-social-li
                                    a.header__nav-social-link(href="#")
                                li.header__nav-social-li
                                    a.header__nav-social-link(href="#")
            .header__item
                .header__text
                    p|Hi, my name is Eugene and I'm an alcoholic. Joke, I'm the front end deweloper.