.header__name-mine{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  transform: rotate(45deg);
}

.header__name{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__name-mine-text{
  font-family: 'Indie Flower', cursive;
  font-size: 6rem;
  text-align: center;
}

.glitch {
  position: relative;
  color: #fff;
  opacity: 0.25;
  mix-blend-mode: lighten;
  
  &:before,
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip: rect(0, 0, 0, 0);
  }
    
  &:before {
    left: -0.4rem;
    text-shadow: 0.4rem 0 rgba(rgb(173, 27, 27),0.7);
  }
  
  &:after {
    left: 4rem;
    text-shadow: -1rem 0 rgba(blue,0.7);
  }
  
  &:hover {

    &:before {
      text-shadow: 2rem 0 rgba(red,0.7);
      animation: glitch-loop-1 0.6s infinite ease-in-out alternate-reverse;
    }
    &:after {
      text-shadow: -0.9rem 0 rgba(blue,0.7);
      animation: glitch-loop-2 0.6s infinite ease-in-out alternate-reverse;
    }
  }
}
  
@keyframes glitch-loop-1 {
  0% { clip: rect(7.6rem, 999.9rem, 0.9rem, 0) }
  25% { clip: rect(5.5rem, 999.9rem, 9.9rem, 0) }
  50% { clip: rect(9rem, 999.9rem, 10.2rem, 0) }
  75% { clip: rect(3rem, 999.9rem, 9.2rem, 0) }
  100% { clip: rect(9.1rem, 999.9rem, 9.8rem, 0) }
}
  
@keyframes glitch-loop-2 {
  0% { top: -0.1rem; left: 0.1rem; clip: rect(6.5rem, 999.9rem, 11.9rem, 0) }
  25% { top: -0.6rem; left: 0.4rem; clip: rect(7.9rem, 999.9rem, 1.9rem, 0) }
  50% { top: -0.3rem; left: 0.2rem; clip: rect(6.8rem, 999.9rem, 1.1rem, 0) }
  75% { top: 0rem; left: -0.4rem; clip: rect(9.5rem, 999.9rem, 5.3rem, 0) }
  100% { top: -0.1rem; left: -0.1rem; clip: rect(3.1rem, 999.9rem, 14.9rem, 0) }
}


@media (max-width: 751px) {

  .header__name{
    width: 100%;
    // height: 50vh;
    &-mine{
      transform: rotate(0);
    }
      
  }
}