header.header
    .header__wrap
        .header__container
            nav.header__nav
                .header__nav-wrap
                    .header__nav-content
                        .header__nav-logo
                            a.header__nav-logo-link(href="#")
                        .header__nav-menu
                            ul.header__nav-menu-ul
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")