.mine-wrap {
	margin: auto;
}
  
.wave{
	color: #999999;
	animation: 0.5s color infinite;
}
  
@keyframes color{
	50% {
	  color: #8fc8ae;
	}
}

.hmw{
	display: flex;
	width: 74rem;
	height: 30rem;
}


@media (max-width: 751px) {

    .hmw{
		width: 100%;
		padding: 3rem 2rem;
	}

}