.header{

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background: url('../img/photo-1444093826349-9ce8c622f4f3.png');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        z-index: 0;
        position: relative;
    }

    &__container::before{
        content: "";
        background-color: #353535;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        position: absolute;
        z-index: -1;
    }

    &__nav{

        &-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background: #181818;
            width: 7rem;
            height: 100vh;
        }

        &-logo{
            background: #000;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        // &-social-link{
        //     display: flex;
        //     // align-items: center;
        //     // justify-content: center;
        //     width: 3rem;
        //     height: 3rem;
        //     // background-size: cover;
        //     // background-position: center;
        //     // margin: 0 auto;

        // }

    }

    

    &__intro{
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        width: 50%;

    }


}

.header__intro-code-top-body{
    display: flex;
    flex-direction: column;
    // width: 7rem;
}

.body-tag-top{
    margin-left: 7rem;
}

.body-tag-bottom{
    position: absolute;
    left: 12%;
    bottom: 14%;

    // position: relative;
    // left: 10rem;
    // top: 56rem;
}
// !!! как лучше записвать, какое правило применить??? !!! //

.header__intro-code-top-body:hover .bh{
    color: aqua;
}
// !!! для срабатывания hover - это мне заметочка !!! //
