header.header
    .header__wrap
        .header__container
            nav.header__nav
                .header__nav-wrap
                    .header__nav-content
                        .header__nav-logo
                            a.header__nav-logo-link.logo-link-font(href="index.html")|iOld
                        .header__nav-menu
                            ul.header__nav-menu-ul
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")|home
                                        i(class="fas fa-home")
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")|about
                                        i(class="fas fa-user-secret")
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")|skils
                                        i(class="fas fa-cogs")
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")|my work
                                        i(class="fas fa-eye")
                                li.header__nav-menu-li
                                    a.header__nav-menu-link.nav-menu-fonts(href="#")|contact
                                        i(class="fas fa-envelope")
                        .header__nav-social
                            ul.header__nav-social-ul
                                li.header__nav-social-li
                                    a.header__nav-social-link.header__nav-icon-fb(href="#")
                                        i(class="fab fa-facebook-square")
                                li.header__nav-social-li
                                    a.header__nav-social-link.header__nav-icon-github(href="#")
                                        i(class="fab fa-github-square")
                                li.header__nav-social-li
                                    a.header__nav-social-link.header__nav-icon-linkedin(href="#")
                                        i(class="fab fa-linkedin")
                                li.header__nav-social-li
                                    a.header__nav-social-link.header__nav-icon-instagram(href="#")
                                        i(class="fab fa-instagram")
            .header__intro
                .header__intro-wrap
                    .header__intro-code-top
                        //- p.header__intro-code-text|#[span|<body> ]
                        p.header__intro-code-text.open-htnl-tag|&lthtml&gt
                        p.header__intro-code-text.open-body-tag|&ltbody&gt
                        p.header__intro-code-text.open-h1-tag|&lth1&gt
                    .header__intro-mine
                        p.header__intro-title-text|Hi, my name is Eugene and I'm an alcoholic. Joke, I'm the front end deweloper.
                    .header__intro-code-bottom
                        p.header__intro-code-text.closed-h1-tag|&lt/h1&gt
                        p.header__intro-code-text.closed-body-tag|&lt/body&gt
                        p.header__intro-code-text.closed-html-tag|&lt/html&gt