header.header
    .header__wrap
        .header__container
            .background#particles-js
            include ../header/nav.pug
            .header__intro
                .header__intro-wrap
                    .header__intro-code-top
                        .header__intro-code-top-body
                            p.header__intro-code-text.body-tag-top.bh|&ltbody&gt
                            p.header__intro-code-text.body-tag-bottom.bh|&lt/body&gt
                        .header__intro-code-top-pp
                            p.header__intro-code-text.open-p-tag.pp|&ltp&gt
                            p.header__intro-code-text.closed-p-tag.pp|&lt/p&gt
                        .hmw
                            .header__intro-mine.mine-wrap
                                p.header__intro-title-text.mine-text|Привет! Меня зовут Евгений, и я хочу быть крутым Front-End разработчиком. Сейчас я только набираюсь опыта, а как вы сами знаете лучший опыт приходит во время работы.
                        //- p.header__intro-title-text#text|Привет! Меня зовут Евгений, и я хочу быть крутым Front-End разработчиком. Сейчас я только набираюсь опыта, а как вы сами знаете лучший опыт приходит во время работы.
                    //- .header__btn
                    //-     button.header__btn-reset.header__btn-fonts(id="reset" data-bound="true")|нажми
                    .header__intro-code-bottom
                        p.header__intro-code-text.closed-html-tag.html|&lt/html&gt
            .header__name
                .header__name-wrap
                    .header__name-mine
                        p.header__name-mine-text.glitch.is-glitching(data-text="Евгений Шевченко")|Евгений Шевченко